html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Display */
.flex {
  display: flex;
}

.flex_row_center {
  display: flex;
  align-items: center;
}

.flex_row_center_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_column_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex_column_center_between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Size */

.full_size {
  height: 100%;
  width: 100%;
}

.max_content_size {
  width: max-content;
}

/* Margin */
.margin_auto {
  margin: auto;
}

/* Typography */

.police_bilo {
  font-family: bilo, sans-serif
}

.police_bilo {
  font-family: bilo, sans-serif
}

.police_baloo {
  font-family: 'Baloo Bhaijaan 2', cursive;
  font-weight: normal;
}

.police_inter {
  font-family: 'Inter', sans-serif;
}

.police_avenir {
  font-family: 'Avenir';
}