html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Display */
.flex {
  display: flex;
}

.flex_row_center {
  display: flex;
  align-items: center;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

/* Size */

.full_size {
  height: 100%;
  width: 100%;
}

.max_content_size {
  width: max-content;
}

/* Margin */
.margin_auto {
  margin: auto;
}